---
import List from "../components/icons/List.astro"
import Check from "../components/icons/Check.astro"

// Array de proyectos
const projects = [
{
    name: "SINGLE",
    grant: "(Horizon Eurpe 2021/2027)",
    institution: "European Commission",
    role: "Participant",
    year: "2023-2026",
  },{
    name: "MASHED",
    grant: "(Spanish/EU grant)",
    institution: "UPC",
    role: "Participant",
    year: "2023-2024",
  },
  {
    name: "MAFALDA",
    grant: "(Spanish/EU grant)",
    institution: "UPC",
    role: "Participant",
    year: "2022-2024",
  },
  {
    name: "PTI+ TRANS-ENER",
    grant: "(Spanish/EU grant)",
    institution: "UPC",
    role: "Participant",
    year: "2021-2022",
  },
  {
    name: "DOVELAR",
    grant: "(Spanish/EU grant)",
    institution: "UPC",
    role: "Participant",
    year: "2019-2022",
  },
];
---

<section id="projects" class="w-full mx-auto lg:w-[1200px] p-10 md:p-14 scroll-m-10">
  <h2 class="text-wrap pl-7 hover:animate-pulse">
    <span class="flex items-center space-x-2 uppercase ">
      <List />
      <span class="md:pl-0 lg:pl-4">Projects</span>
    </span>
  </h2>
  
  <ul class="md:pl-5 lg:pl-10 pt-8">
    {projects.map((project) => (
      <li class="flex items-center text-teal-600/90">
        <Check class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8" />
        <p class="text-white/80 pl-2">
          <strong class="text-teal-600/90 md:text-white/80">{project.name}</strong>
          {project.grant} with {project.institution} - {project.role}
          <strong>{project.year}</strong>
        </p>
      </li>
    ))}
  </ul>
</section>
