---
import Newspaper from "../components/icons/Newspaper.astro";
import Check from "../components/icons/Check.astro";
import Loading from "../components/icons/Loading.astro";

// Publicaciones por tipo
const journalPapers = [
{
    title: "Blending deep-learning and observers for improved state of charge estimation in vanadium flow batteries",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0019057824006001",
    authors: "Clemente A., Puleston T., Cecilia A., Costa-Castelló R., Trilla L. (2025)",
    journal: "ISA Transactions, 157, 620-630"
  },
  {
    title: "Nonlinear observer for online concentration estimation in vanadium flow batteries based on half-cell voltage measurements",
    link: "https://www.sciencedirect.com/science/article/pii/S0098135424000826",
    authors: "Puleston, T., Cecilia, A., Costa-Castelló, R., & Serra, M. (2024)",
    journal: "Computers & Chemical Engineering, 185, 108664"
  },
  {
    title: "Cancelling output disturbances in observer design through internal model filters",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0005109824000219",
    authors: "Cecilia, A., Astolfi, D., Bin, M., & Costa-Castelló, R. (2024)",
    journal: "Automatica, 162, 111529"
  },
  {
    title: "A New Nonlinear Observer for Liquid Water Estimation in Fuel Cells",
    link: "https://ieeexplore.ieee.org/document/10345717",
    authors: "Cecilia, A. Astolfi, D., & Costa-Castelló, R. (2024)",
    journal: "IEEE Transactions on Control Systems Technology, 32, 3, 990-1001"
  },
  {
    title: "Real-time parameter estimation of polymer electrolyte membrane fuel cell in absence of excitation",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0360319923039940?via%3Dihub",
    authors: "Cecilia, A., Serra, M., & Costa-Castelló, R. (2024)",
    journal: "International Journal of Hydrogen Energy, 52 B, 37-48"
  },
  {
    title: "Estimation of the liquid water saturation in PEM fuel cells: A low-power peaking-free dead-zone observer approach",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0019057823002550",
    authors: "Cecilia, A., & Costa-Castelló, R. (2023)",
    journal: "ISA transactions, 140, 368-384"
  },
  {
    title: "Vanadium redox flow batteries real-time State of Charge and State of Health estimation under electrolyte imbalance condition",
    link: "https://www.sciencedirect.com/science/article/pii/S2352152X23010630",
    authors: "Puleston, T., Cecilia, A., Costa-Castelló, R., & Serra, M. (2023)",
    journal: "Journal of Energy Storage, 68, 107666"
  },
  {
    title: "Modelling and Estimation in Lithium-Ion Batteries: A Literature Review",
    link: "https://www.mdpi.com/1996-1073/16/19/6846",
    authors: "Martí-Florences, M., Cecilia, A., & Costa-Castelló, R. (2023)",
    journal: "Energies, 16(19), 6846"
  },
  {
    title: "Online state of charge estimation for a vanadium redox flow battery with unequal flow rates",
    link: "https://www.sciencedirect.com/science/article/pii/S2352152X22024926",
    authors: "Clemente, A., Cecilia, A., & Costa-Castelló, R. (2023)",
    journal: "Journal of Energy Storage, 60, 106503"
  },
  {
    title: "SoC Estimation in Lithium-Ion Batteries with Noisy Measurements and Absence of Excitation",
    link: "https://www.mdpi.com/2313-0105/9/12/578",
    authors: "Martí-Florences, M.; Cecilia, A.; Clemente, A.; Costa-Castelló, R.",
    journal: "Batteries, 9, 578"
  },
  {
    title: "Addressing the relative degree restriction in nonlinear adaptive observers: A high-gain observer approach",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0016003222001867",
    authors: "Cecilia, A., & Costa-Castelló, R. (2022)",
    journal: "Journal of the Franklin Institute, 359(8), 3857-3882"
  },
  {
    title: "On Addressing the Security and Stability Issues Due to False Data Injection Attacks in DC Microgrids—An Adaptive Observer Approach",
    link: "https://ieeexplore.ieee.org/abstract/document/9547709",
    authors: "Cecilia, A., Sahoo, S., Dragičević, T., Costa-Castelló, R., & Blaabjerg, F. (2021)",
    journal: "IEEE Transactions on Power Electronics, 37(3), 2801-2814"
  },
  {
    title: "Nonlinear adaptive observation of the liquid water saturation in polymer electrolyte membrane fuel cells",
    link: "https://www.sciencedirect.com/science/article/abs/pii/S0378775321001853",
    authors: "Cecilia, A., Serra, M., & Costa-Castelló, R. (2021)",
    journal: "Journal of Power Sources, 492, 229641"
  },
  {
    title: "Detection and mitigation of false data in cooperative dc microgrids with unknown constant power loads",
    link: "https://ieeexplore.ieee.org/document/9334413",
    authors: "Cecilia, A., Sahoo, S., Dragičević, T., Costa-Castelló, R., & Blaabjerg, F. (2021)",
    journal: "IEEE Transactions on Power Electronics, 36(8), 9565-9577"
  },
  {
    title: "High gain observer with dynamic deadzone to estimate liquid water saturation in pem fuel cells",
    link: "https://www.iri.upc.edu/files/scidoc/2328-Observador-de-alta-ganancia-con-zona-muerta-ajustable-para-estimar-la-saturaci%C3%B3n-de-agua-l%C3%ADquida-en-pilas-de-combustible-tipo-PEM.pdf",
    authors: "Cecilia, A., & Costa-Castelló, R. (2020)",
    journal: "Revista Iberoamericana de Automática e Informática industrial, 17(2), 169-180"
  },
  {
    title: "Optimal energy management in a standalone microgrid, with photovoltaic generation, short-term storage, and hydrogen production",
    link: "https://www.mdpi.com/1996-1073/13/6/1454",
    authors: "Cecilia, A., Carroquino, J., Roda, V., Costa-Castelló, R., & Barreras, F. (2020)",
    journal: "Energies, 13(6), 1454"
  }
];

const conferencePapers = [
  {
    title: "Quadratic abstractions for k-contraction",
    link: "https://hal.science/hal-04619425/document",
    authors: "Zoboli S., Cecilia, A. & Tarbouriech S. (accepted)",
    conference: "2024 63rd IEEE Conference on Decision and Control (CDC)"
  },
  {
    title: "k-contraction analysis for discrete-time systems",
    link: "https://www.sciencedirect.com/science/article/pii/S2405896324019165",
    authors: "Zoboli S. & Cecilia, A.",
    conference: "4th IFAC Conference of Modelling, Identification and Control of nonlinear systems, Lyon, France, 2024"
  },
  {
    title: "Chaotic Masking Protocol for Secure Communication and Attack Detection in Remote Estimation of Cyber-Physical Systems",
    link: "https://www.sciencedirect.com/science/article/pii/S2405896324019013",
    authors: "Chen T., Cecilia, A., Astolfi, D., Wang, L., Liu, Z. & Su, H.",
    conference: "4th IFAC Conference of Modelling, Identification and Control of nonlinear systems, Lyon, France, 2024"
  },
  {
    title: "A masking protocol for private communication and attack detection in nonlinear observers",
    link: "https://ieeexplore.ieee.org/document/10383327",
    authors: "Cecilia A., Astolfi D., Casadei G., Costa-Castelló R. & Nesic D.",
    conference: "2023 62nd IEEE Conference on Decision and Control (CDC), Singapore, 2023"
  },
  {
    title: "LMI conditions for k-contraction analysis: a step towards design",
    link: "https://ieeexplore.ieee.org/document/10383436",
    authors: "Zoboli S., Cecilia A., Serres U., Astolfi D. & Andrieu V.",
    conference: "2023 62nd IEEE Conference on Decision and Control (CDC), Singapore, 2023"
  },
  {
    title: "On state-estimation in weakly-observable scenarios and implicitly regularized observers",
    link: "https://ieeexplore.ieee.org/document/9682914",
    authors: "Cecilia, A., & Costa-Castelló, R",
    conference: "60th IEEE Conference on Decision and Control, Austin, TX, USA, 2021"
  },
  {
    title: "SOC and diffusion rate estimation in redox flow batteries: An I&I-based high-gain observer approach",
    link: "https://ieeexplore.ieee.org/document/9654894",
    authors: "Clemente A., Cecilia A. & Costa-Castelló R.",
    conference: "2021 European Control Conference (ECC), Delft, Netherlands, 2021"
  },
  {
    title: "Library-based adaptive observation through a sparsity-promoting adaptive observer",
    link: "https://ieeexplore.ieee.org/document/9655070",
    authors: "Cecilia, A., & Costa-Castelló, R.",
    conference: "2021 European Control Conference (ECC), Delft, Netherlands, 2021"
  },
  {
    title: "PEMFC state and parameter estimation through a high-gain based adaptive observer",
    link: "https://www.sciencedirect.com/science/article/pii/S2405896320322382",
    authors: "Cecilia, A., Serra, M., & Costa-Castelló, R.",
    conference: "21st IFAC World Congress: Berlin, Germany, 11–17 July 2020"
  }
];

const books = [
  {
    title: "Advances in Nonlinear Observer Design for State and Parameter Estimation in Energy Systems",
    link: "https://link.springer.com/book/10.1007/978-3-031-38924-5",
    authors: "Cecilia, A. (2023)",
    publisher: "Springer Theses"
  }
];

const submittedPapers = [
  {
    title: "Generalized Lyapunov conditions for k-contraction: analysis and feedback design",
    link: "https://arxiv.org/abs/2311.18388",
    authors: "Cecilia A., Zoboli S., Astolfi D., Serres U. & Andrieu V.",
    journal: "IEEE Transactions on Automatic Control (under review)"
  },
  {
    title: "Dynamic output-feedback design for generalized Lyapunov inequalities",
    link: "https://hal.science/hal-04738534v1/document",
    authors: "Zoboli S., Cecilia A., Tarbouriech S.",
    journal: "Automatica (under review)"
  }
];
---

<section id="publications" class="w-full mx-auto scroll-m-10 pt-10 md:pt-14">
  <h2 class="text-wrap hover:animate-pulse">
    <span class="flex items-center space-x-2 uppercase">
      <Newspaper class="w-12 h-12" />
      <span class="">Publications</span>
    </span>
  </h2>

  {/* Journal Papers */}
  <h3 class="py-8 uppercase ">
    <span class="flex items-center space-x-2">
      <Check />
      <span>Journal papers</span>
    </span>
  </h3>
  <ol class=" list-decimal">
    {journalPapers.map((item) => (
      <li>
        <a href={item.link}>{item.title}</a>, {item.authors}. <i>{item.journal}</i>
      </li>
    ))}
  </ol>

  {/* Conference Papers */}
  <h3 class="py-8 uppercase ">
    <span class="flex items-center space-x-2">
      <Check />
      <span>Conference Papers</span>
    </span>
  </h3>
  <ol class="list-decimal">
    {conferencePapers.map((item) => (
      <li>
        <a href={item.link}>{item.title}</a>, {item.authors}. <i>{item.conference}</i>
      </li>
    ))}
  </ol>

  {/* Books */}
  <h3 class="py-8 uppercase ">
    <span class="flex items-center space-x-2">
      <Check />
      <span>Books</span>
    </span>
  </h3>
  <ol class="list-decimal">
    {books.map((item) => (
      <li>
        <a href={item.link}>{item.title}</a>, {item.authors}. <i>{item.publisher}</i>
      </li>
    ))}
  </ol>

  {/* Submitted Papers */}
  <h3 class="py-8 uppercase ">
    <span class="flex items-center space-x-2">
      <Loading class="w-8 h-8 animate-spin" />
      <span>Submitted Papers (Under review)</span>
    </span>
  </h3>
  <ol class="list-decimal">
    {submittedPapers.map((item) => (
      <li>
        <a href={item.link}>{item.title}</a>, {item.authors}. <i>{item.journal}</i>
      </li>
    ))}
  </ol>
</section>
