---
import Phd from "../components/icons/Phd.astro"
import Bbs from "../components/icons/Bbs.astro"
import Loading from "../components/icons/Loading.astro"

// Datos de los estudiantes Ph.D.
const phdStudents = [
  {
    title: "Energy management in hybrid storage systems",
    years: "2023 - Current",
    name: "Miquel Martí",
    program: "Doctoral Programme Automatic Control, Robotics and Vision (UPC)"
  },
  {
    title: "Control-oriented cyber-security in electrical grids",
    years: "2024 - Current",
    name: "Pol Baldomà",
    program: "Doctoral Programme Automatic Control, Robotics and Vision (UPC)"
  }
]

// Datos de los estudiantes Bachelor/M.Sc.
const bachelorStudents = [
  {
    title: "Contraction-based methods for observer design: application to hydrogen fuel cells",
    years: "2024-2025",
    name: "Maurizio Roncone",
    program: "ETSEIB-UPC",
    link: null
  },
  {
    title: "Analysis of sciatic nerve movement through dynamic mode decomposition",
    years: "2024-2025",
    name: "Adrià González Martínez",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/entities/publication/594b9e37-c339-443c-8647-726a67e7f567"
  },
  {
    title: "Data-based methods for cyber-attack detection",
    years: "2023-2024",
    name: "Pol Garcia Coma",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/413710"
  },
  {
    title: "Data-based methods to ensure the safety of cyber-physical systems (CPS) against malicious attacks",
    years: "2023-2024",
    name: "Sergi Lupón Santacana",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/413702"
  },
  {
    title: "Leveraging Deep-Learning for Enhanced Soft-Sensor Design in Complex Nonlinear Systems",
    years: "2023-2024",
    name: "Aleix Pintó Borrell",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/413688"
  },
  {
    title: "Sciatic Nerve Segmentation and Displacement Evolution with Numerical Methods",
    years: "2023-2024",
    name: "Enric Alavedra Arumí",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/416698"
  },
  {
    title: "Desenvolupament d'un algoritme d'estimació de l'estat de càrrega en bateries de liti",
    years: "2021-2022",
    name: "Miguel Aragón Grabiel",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/368210"
  },
  {
    title: "Estimació d'estats en bateries de liti a través de Filtres de Kalman",
    years: "2021-2022",
    name: "Celia Bonillo Mesegue",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/353078"
  },
  {
    title: "Desenvolupament i aplicació de controladors adaptatius amb identificació dispersa",
    years: "2021-2022",
    name: "Andreu Casanovas Vejer",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/352897"
  },
  {
    title: "Implementació de controladors adaptatius amb identificació dispersa",
    years: "2021-2022",
    name: "Roger Domingo Enrich",
    program: "ETSEIB-UPC",
    link: "https://upcommons.upc.edu/handle/2117/352112"
  }
]
---

<section id="students" class="w-full mx-auto pt-10 md:pt-14 scroll-m-10">
  <!-- PhD Students -->
  <h2 class="text-wrap hover:animate-pulse">
    <span class="flex items-center space-x-2 uppercase">
      <Phd />
      <span class="md:pl-0 lg:pl-4">Ph.D. Students</span>
    </span>
  </h2>

  <ul class="pt-8">
    {phdStudents.map(student => (
      <li class="pt-3">
        <strong class="text-teal-600/90 flex items-center space-x-2">
          <Loading class="hidden md:inline-block w-6 h-6 lg:w-8 lg:h-8 mr-1 animate-spin" />
          {student.title}
        </strong>
        <p>
          <strong class="text-white">{student.years}</strong> - {student.name} - {student.program}
        </p>
      </li>
    ))}
  </ul>

  <!-- Bachelor/M.Sc. Students -->
  <h2 id="projects" class="text-wrap pt-16 hover:animate-pulse">
    <span class="flex items-center space-x-2 uppercase">
      <Bbs />
      <span class="">Bachelor/M. Sc. Students</span>
    </span>
  </h2>

  <ul class="pt-8">
    {bachelorStudents.map(student => (
      <li class="pt-3">
        <strong class="text-teal-600/90 flex items-center space-x-2">
          
          {student.link ? <a href={student.link}>{student.title}</a> : student.title}
        </strong>
        <p>
          <strong class="text-white">{student.years}</strong> - {student.name} - {student.program}
        </p>
      </li>
    ))}
  </ul>
</section>
